<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=****" >
      <section name="ParsicAutoUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=****" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--
		<add name="WebConnection"
	    connectionString="Data Source=sql.parsic.ir;Initial Catalog=***;User ID=***; Password=***"/> -->
    <add name="WebConnection" connectionString="Data Source=.;Initial Catalog=Updating;User ID=***; Password=***"/>
    <add name="DB_Entities" connectionString="metadata=res://*//*****.csdl|res://*/******.ssdl|res://*/******.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER-PC\SQLSERVER2008R2;initial catalog=***;persist security info=True;user id=sa;password=***;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="FTPAddress" value="ftp://192.168.1.160/as/"/>
    <add key="LocalAddress" value="ftp://192.168.1.160/as/"/>
    <add key="Author" value="ParsicPol"/>
    <add key="RegistryBaseKey" value="5"/>
    <add key="RegistryPath" value="SOFTWARE\ODBC\ODBC.INI\db_parsicmaster"/>
    <add key="InstanceNameKeyName" value="Server"/>
    <add key="DBNameKeyName" value="Database"/>
    <add key="UserNameKeyName" value="LastUser"/>
    <!--add key="InstanceName" value="192.168.1.220\parsicpol" />-->
    <add key="DBName" value="DB_parsicmaster"/>
    <add key="TableName" value="Tbl_Options"/>
    <add key="UserName" value="sa"/>
    <add key="Password" value="***"/>
    <add key="SourceFieldName" value="OptionName"/>
    <add key="TargetFieldName" value="OptionValue"/>
    <add key="SourceFieldValueForUpdateArchivePath" value="UpdateArchivePath"/>
    <add key="SourceFieldValueForOutputPath" value="OutputPath"/>
    <add key="SourceFieldValueForBackupPath" value="Backup_Path"/>
    <add key="SourceFieldValueForInstanceName" value="DBListInstanceName"/>
    <add key="SourceFieldValueForDBName" value="DBListDBName"/>
    <add key="SourceFieldValueForTableName" value="DBListTableName"/>
    <add key="SourceFieldValueForUserName" value="DBListUserName"/>
    <add key="SourceFieldValueForPassword" value="DBListPassword"/>
    <add key="SourceFieldValueForMustBackup" value="DBListMustBackup"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=*****" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=*****" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="Service1SoapD" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
          <binding name="Service1Soap" />
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://pws.parsipol.com/service1.asmx" binding="basicHttpBinding"
          bindingConfiguration="Service1Soap" contract="Parsicwebservice.Service1Soap"
          name="Service1Soap" />
      </client>
    </system.serviceModel>
    <applicationSettings>
        <ParsicAutoUpdater.Properties.Settings>
            <setting name="ParsicAutoUpdater_MyWebService_Service1" serializeAs="String">
                <value>http://pws.parsipol.com/service1.asmx</value>
            </setting>
        </ParsicAutoUpdater.Properties.Settings>
    </applicationSettings>
</configuration>
